@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* font styling: applies to all selectors */
*{
    font-family: 'Montserrat';
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container.answers{
    justify-content: center;
    flex-direction: row;
    width: 100%;

}

.flex-container header{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

.flex-container.question{
    background-color: rgb(83, 126, 83);
    margin: 10px; 
    padding: 10px;
}

h1{
    color: rgb(83, 126, 83);
}

.flex-container.author{
    flex-direction: column;
    justify-content: center;
}

#comments-btn{
    border-radius: 10px;
    background-color: white;
    color: grey;
    outline: 5px black;
    padding: 15px;
    margin:20px;
}


input[type=radio]{
    /* display:none; */
    color: white;
}
div.spacer{
    padding: 10px;
    margin: 10px;
}


/* navbar styling (from lab1) */
nav {
    margin: 0;
    padding: 10px;
    background-color:white;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.primary-nav h2{
    margin: 0 !important;
    color:red;
    font-weight: bold;
    text-align: left;
    /* padding:  */
}


.img-option{
    width: 150px;
    height: 225px;
}

.activity-img{
    width: 225px;
    height: 150px;
}

.apparel-img{
    width:225px;
    height:225px;
}

fieldset{
    border-radius: 5px;
    padding: 5px;
    border: 5px solid rgb(83, 126, 83);
    margin: 10px;

}

/* For Color tiles */
#blue{
    background-color: blue;
    color: white;
}
#green{
    background-color: green;
    color: white;
}
#red{
    background-color: red;
    color: white;
}
#purple{
    background-color: purple;
    color: white;
}
#pink{
    background-color: pink;
    color: white;
}
#orange{
    background-color: orange;
    color: white;
}
#yellow{
    background-color:rgb(224, 224, 0);
    color: white;
}


.answer-tile{
    width: 35%;
    margin: 10px;
    /* margin: 10px; */
    display: flex;
    font-weight: bold;
    justify-content: center;
    /* margin: 10px; */
}

/* info about hover shadowing: https://www.kirupa.com/html5/display_an_outline_instead_of_a_border_hover.htm */
.answer-tile:hover{
    outline: grey solid 4px;
}
.answer-tile:active{
    outline: black solid 4px;
}
.answer-tile:focus{
    outline: black solid 4px;
}
.cover{
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
}


/* Mimicked CTA button from medium article */
/* https://medium.com/@marklchaves/rolling-your-own-cta-button-7cbf823a7d36 */
#result-btn{
    display: block;
    height: 100px;
    width: 500px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background-color: green;
    color: white;
}

#result-div{
    justify-content: center;
    flex-direction: column;
}


/* borrowed Modal code from  link provided in assignment*/
/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }