@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* font styling: applies to all selectors */
*{
    font-family: 'Montserrat';
}
#cover-img{
    width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container.answers{
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.flex-container header{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

.flex-container.question{
    background-color: rgb(83, 126, 83);
    margin: 10px; 
    padding: 10px;
}

h1{
    color: rgb(83, 126, 83);
}

.flex-container.author{
    flex-direction: column;
    justify-content: center;
}

#comments-btn{
    border-radius: 10px;
    background-color: white;
    color: grey;
    outline: 5px black;
    padding: 15px;
    margin:20px;
}


input[type=radio]{
    display:none;
    color: white;
    padding: 0;
    margin: 0;
}
div.spacer{
    padding: 10px;
    margin: 10px;
}


/* navbar styling (from lab1) */
nav {
    margin: 0;
    padding: 10px;
    background-color:white;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.primary-nav h2{
    margin: 0 !important;
    color:red;
    font-weight: bold;
    text-align: left;
}
 img{
     padding: 0;
     margin: 0;
 }

/* adapted from https://stackoverflow.com/questions/11552380/how-to-automatically-crop-and-center-an-image */
.center-cropped {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

fieldset{
    border-radius: 5px;
    padding: 5px;
    border: 5px solid rgb(83, 126, 83);
    margin: 10px;
    width: 90%;
}


.answer-tile{
    /* width: 30%; */
    /* height: 30%; */
    /* height: min-content; */
    /* width: min-content; */
    box-sizing: border-box;
    margin: 10px;
    /* border: 10px; */
    display: flex;
    font-weight: bold;
    justify-content: center;
    /* align-items: center; */
    background-color:white;
    color: black;
}

.answer-tile p{
    text-align: center;
}
.answer-tile img{
    display:block;
}

/* info about hover shadowing: https://www.kirupa.com/html5/display_an_outline_instead_of_a_border_hover.htm */
.answer-tile:hover{
    outline: grey solid 4px;
}
.answer-tile:active{
    outline: black solid 4px;
}
.answer-tile:focus{
    outline: black solid 4px;
}
.cover{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
}


/* Mimicked CTA button from medium article */
/* https://medium.com/@marklchaves/rolling-your-own-cta-button-7cbf823a7d36 */
#result-btn{
    display: block;
    height: 100px;
    width: 500px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(83, 126, 83);
    color: white;
}

#result-div{
    justify-content: center;
    flex-direction: column;
}


/* borrowed Modal code from  link provided in assignment*/
/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#result-img{
    width: 45%;
    height: 15%;
}
#result-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 640px) {

    header ul li{
        width: 90%;
        padding-top: 30px;
    }

    header ul.flex-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .answers{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    
    }
}

